Scrapy==2.5.1
scrapy-splash==0.8.0
matplotlib==3.5.1
pandas==1.4.0
seaborn==0.11.2
fastai==2.5.3
ipywidgets==7.6.5
jupyterlab==3.2.8
fastbook==0.0.18
graphviz==0.19.1
us==2.0.2
postal==1.1.9
pylint==2.12.2
yapf==0.32.0
Flask==2.0.2
Flask-Cors==3.0.10